*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------Header--------- */

/* nav-bar */

.banner-top{
    text-align: center;
}

.search-bar{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar form-inline{
    width: 100% !important;
}

.navbar li a{
    color: black !important;
}

.navbar li a:hover{
    color: white !important;
}